img {
    height: 200px;
}

#credits {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: fixed;
    bottom: 0;
}

button {
    border-radius: 10px;
    margin: 10px;
}

#button-container {
    display: flex;
    justify-content: stretch;
    flex-direction: column;
}

h1 {
    display: flex;
    justify-content: center;
}

#score-board {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#score-board div {
    font-size: 36px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 200px;
    align-items: center;
}

body {
    display: flex;
    flex-direction: row;
}